# bootstrap form input group
snippet bfinput
	<div class="control-group">
		<label class="col-md-4 control-label" for="${0}">${1}</label>
		<div class="col-md-6 controls">
		   <input type="text" placeholder="${2}" class="form-control input-xlarge">
			<p class="help-block">${3:$1}</p>
		</div>
	</div>
